#form-container {
    display: none;
    
}

#location-image {
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
}

h1, p {
    font-family: monospace;
    color: gold;
    text-align: center;
}

p {
    color: white;
}

body {
    height: 100%;
    background-color: rgb(27, 27, 27);
}

#particles-js {
    width: 120%;
    height: 120%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}